@import "slider";
@import "mainblock";
@import "mainreview";
@import "maininstagram";
.main{
    // margin: 0 -15px;
    padding-bottom: 80px;
    @include breakpoint(max-sm) {
        background-color: $colorBackground;
    }
    &-inside{
        // padding: 15px;
        @include breakpoint(max-sm) {
            // padding: 0 10px;
            background-color: $colorBackground;
        }
    }
}

.maintop{
    margin-top: 60px;
    padding-bottom: 60px;
    @include breakpoint(max-sm) {
        padding-bottom: 0!important;
    }
    &-inside{
        width: 100%;
        height: 830px;
        padding-bottom: 360px;
        @include breakpoint(max-sm) {
            height: 480px!important;
        }
        @include breakpoint(max-md) {
            height: 730px;
            padding-bottom: 0!important;
        }
        @include breakpoint(lg) {
            height: 730px;
            padding-bottom: 200px;
        }
        position: relative;
        &-image{
            position: absolute;
            left: -60px;
            top: 65px;
        }
        &-detail{
            position: absolute;
            z-index: 100;
            width: 100%;
            @include breakpoint(max-sm) {
                padding: 0 10px;
                width: auto;
            }
            .container{
                display: flex;
                justify-content: space-between;
                @include breakpoint(max-sm) {
                    flex-direction: column;
                }
            }
            &-title{
                width: 40%;
                margin: 24px 0;
                @include breakpoint(max-sm) {
                    width: 100%;
                    margin: 0;
                }
                .text-title{
                    margin: 0;
                }
            }
            &-content{
                width: 30%;
                margin: 24px 0;
                @include breakpoint(max-sm) {
                    width: 100%;
                    margin: 0;
                }
                .text-content{
                    margin: 0 0 24px 0;
                    @include breakpoint(max-sm) {
                        margin: 12px 0;
                    }
                }
            }
        }
    }
}

.main-new-tote{
    display: flex;
    justify-content: space-between;
    @include breakpoint(max-sm) {
        flex-direction: column-reverse;
        align-items: center;
    }
    &-content{
        width: 55%;
        @include breakpoint(max-sm) {
            width: 100%;
        }
        h5{
            width: 90%;
        }
        .description{
            position: relative;
            background-color: white;
            box-shadow: 0px 6px 36px rgba(0, 0, 0, 0.1);
            border-radius: 16px;
            margin-top: 35px;
            padding: 32px 40px;
            @include breakpoint(max-sm) {
                padding: 28px 16px;
            }
            &-tape{
                position: absolute;
                top: -30px;
                left: -30px;
                width: auto;
                @include breakpoint(max-sm) {
                    top: -18px;
                    left: -15px;
                    width: 20%;
                }
            }
            &-title{
                font-weight: 500;
                margin: 0 0 10px 0!important;
            }
            .flexGroup2{
                h5{
                    margin: 10px 5px;
                }
            }
        }
    }
    &-image{
        @include breakpoint(max-sm) {
            width: 100%;
            margin-bottom: 10px;
        }
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}